{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>CAR SERVICE</title>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h2><strong>CAR SERVICE</strong></h2>
		<div class="row">
			<div class="col">
				<a href="{% url 'authentication:login' %}" class="btn btn-primary btn-custom btn-block">Masuk</a>
			</div>
			{% comment %} <div class="col">
				<a href="{% url 'authentication:register' %}" class="btn btn-primary btn-custom btn-block">Register</a>
			</div> {% endcomment %}
		</div>
	</div>
</div>
{% endblock content %}