{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Register Tukang Service - CAR SERVICE</title>
{% endblock meta %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <div class="content-container d-flex align-items-center justify-content-center mx-auto">
        <div class="container">
            <h2>Register Tukang Service - <strong>CAR SERVICE</strong></h2>
            {% if status == 'failed' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-custom btn-block">Register</button>
            </form>
        </div>
    </div>
{% endblock content %}
